body {
  margin: 0;
}

/* Fundo */

.header {
  background-image: url(../Img/fundos/header4.png);
  background-image: url(../Img/fundos/header2.png);
  background-image: url(../Img/fundos/header3.png);
  background-image: url(../Img/fundos/header.png);
  background-size: cover;
  width: 100%;
  height: 700px;
}

/* Barra de cima */

.container .barracima {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.titulo {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 40px;
  font-weight: 500px;
}
.inicial {
  color: blue;
}
.inicial2 {
  color: red;
}
.barra {
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.barra li, a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}
.usuario button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 50%;
}

/* Conteudo */

.conteudo {
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 80px;
}
.destaque {
  font-size: 25px;
  margin-top: 25px;
  margin-left: 40px;
  color: white;
}
.informaçao {
  font-size: 20px;
  color: white;
}
.nome {
  font-size: 25px;
  margin: 0, 0, 20px, 0;
}
.resumo {
  width: 500px;
  margin-top: 10px;
}
.informaçao a {
  border: 0;
}
.button {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 200px;
  align-items: center;
  border-radius: 50px;
  justify-content: center;
  background-color: purple;
  margin-top: 20px;
}

/* Top 10 */

.filmes {
  width: 100%;
  background-color: #0d0d0d;
}
.filmes .container {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
  color: white;
}
.lancamentos {
  display: flex;
  align-items: center;
}
.top10 {
  display: flex;
  align-items: center;
}
.recomendado {
  display: flex;
  align-items: center;
}